@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --snow: #faf7f9;
    --lavender-blush: #fbedeb;
    --van-dyke-brown: #67391d;
    --spanish-pink: #F9C2BE;
    --light-coral: #FA7A7F;
}


* {
    font-family: 'Lato', sans-serif;
    font-family: 'Philosopher', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--snow);
}



.main-container {
    width: 100%;
    background-color: aqua;
}

/* Nav Bar Styles */

#nav-bar {
    width: 100%;
    background-color: blueviolet;
    height: 50px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--lavender-blush);
    border: double 3px black;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-link:hover {
    background-color: var(--spanish-pink);
    transform: scale(1.05);
}

.nav-link:focus {
    transform: scale(.99);
}



.home-elements, .listening-elements {
    background-color: aqua;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0 auto; */
}


/*/////HOME PG STYLES////////////// */

/* Flower Element Styles */

#flower-container{
    background-color: bisque;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
}

.flower-petal {
    width: 150px;
    height: 150px;
    background-color: #F9C2BE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower-petal-name {
    font-size: 14px;
    background-color: inherit;
    color: var(--van-dyke-brown);
    visibility: hidden;

}

.flower-petal-name.active {
    visibility: visible;
    font-weight: bold;
}

#flower-shape {
    position: absolute;
    top: -25px;
    left: 0;
    /* transition: transform 2s linear;
    transform: rotate(360deg);
    transform-origin: bottom right; */
}

.cpetal {
    position: absolute;
    top: 50px;
    left: 150px;
}

.lpetal {
    position: absolute;
    top: 150px;
    left: 25px;
}

.rpetal {
    position: absolute;
    top: 150px;
    left: 275px;
}

.spetal {
    position: absolute;
    top: 300px;
    left: 70px;
}

.wpetal {
    position: absolute;
    top: 300px;
    left: 230px;
}


/* Background img Styles */

/* #bg-img-container {
    background-color: transparent;
} */

/*/////LISTENING PG STYLES////////////// */

#listening-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listening-elements-ul {
    background-color: aquamarine;
    list-style-type: circle;

}

.listening-elements-li {
    /*  text-decoration: none; */
    padding: 10px;
    color: #67391d;
    /* font-size: large; */
}
